@media screen and (max-width: 576px) {
    .nav-section {
        flex-direction: column;
        /* text-align: center; */
        width: 100%;
    }

    .header-section {
        flex-direction: row-reverse;
        flex-direction: column;
        margin-left: 30px;
    }
    .header-section h1{
        width: 100%;
    }
    .sponsor-section{
        width: 100%;
        flex-direction: column;
    }
    .collection-section{
        grid-template-columns: repeat(1, 1fr);
        /* width: 100%; */
    }
    .collection-section img{
        width: 100%;
    }
    .banner-section{
        flex-direction: column;
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-text-section p{
        width: 100%;
    }
}